@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,800&family=DM+Serif+Display:ital@1&family=Noto+Sans+Linear+B&family=Poppins:wght@700&family=Roboto:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
  max-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.weather-container {
  top: 0;
  right: 0;
  display: flex;
  padding: 2vw;
  margin-top: 10px;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.weather h1 {
  font-size: 1em;
  font-weight: 500;
}

.weather h2 {
  font-size: 1em;
  font-weight: 400;
}

.weather img {
  max-width: 15%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 23%;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: clamp(1.3rem, 1em, 6rem);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.morningbg {
  background-image: url("assets/morningbg.jpg");
}

.afternoonbg {
  background-image: url("assets/afternoonbg.jpg");
}

.eveningbg {
  background-image: url("assets/eveningbg.jpg");
}

main {
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.user-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

.user-input {
  border: 0;
  outline: 0;
  font-size: 1em;
  color: white;
  background: transparent;
  animation: fadeIn 2s;
}
.user-input::-moz-placeholder {
  color: aliceblue;
  opacity: 0.5;
}
.user-input::placeholder {
  color: aliceblue;
  opacity: 0.5;
}

.entered-name {
  color: white;
  animation: fadeIn 1s;
  min-width: 50vw;
  overflow-x: hidden;
}

.fa-solid {
  color: white;
  display: block;
  font-size: 1.3em;
  letter-spacing: 10px;
}

.clock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock span {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 600;
  font-size: 13rem;
  display: inline-block;
  text-align: center;
  color: white;
}

.greeting-container span {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 700;
  color: white;
  font-size: 4em;
  animation: fadeIn 1s;
  min-width: 50vw;
  overflow: hidden;
}

.quote {
  font: inherit;
  font-size: 1.4rem;
  cursor: text;
}

.quote-input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  background: transparent;
  animation: fadeIn 2s;
  text-align: center;
  cursor: pointer;
  width: 20em;
}
.quote-input::-moz-placeholder {
  color: aliceblue;
}
.quote-input::placeholder {
  color: aliceblue;
}
.quote-input:-moz-placeholder-shown ~ .user-input {
  font-size: 1.4rem;
  cursor: text;
  top: 20px;
}
.quote-input:placeholder-shown ~ .user-input {
  font-size: 1.4rem;
  cursor: text;
  top: 20px;
}

.quote-section {
  animation: fadeIn 2s;
}

.focus h1 {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

.focus-input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  background: transparent;
  animation: fadeIn 2s;
  text-align: center;
  cursor: pointer;
  width: 20em;
  padding-top: 1em;
}
.focus-input::-moz-placeholder {
  color: aliceblue;
}
.focus-input::placeholder {
  color: aliceblue;
}
.focus-input:-moz-placeholder-shown ~ .user-input {
  font-size: 1.4rem;
  cursor: text;
  top: 20px;
}
.focus-input:placeholder-shown ~ .user-input {
  font-size: 1.4rem;
  cursor: text;
  top: 20px;
}
.focus-input::-moz-placeholder {
  color: aliceblue;
  opacity: 0.5;
}
.focus-input::placeholder {
  color: aliceblue;
  opacity: 0.5;
}

.focus-output {
  padding-top: 1em;
  display: none;
  animation: fadeIn 1s;
}

.fa-pen-to-square {
  font-size: 1em;
  padding-left: 1em;
}

.todo-text {
  font-weight: 600;
  font-size: 2vh;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2em;
}

.todo-text:hover {
  animation: fadeIn 1s;
  cursor: pointer;
}

.todo-modal {
  background-color: #ECA124;
  text-align: left;
  height: auto;
  word-wrap: break-word;
  border: white;
  border-radius: 10px;
  position: absolute;
  right: 2vw;
  bottom: 10vh;
  padding: 2em;
  display: none;
  animation: fadeIn 1s;
  max-height: 55vh;
  max-width: 75vw;
  overflow: auto;
  z-index: 99;
  /* Hide the scrollbar by default */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.todo-li {
  color: white;
  font-weight: 500;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.todo-li span {
  flex: 2;
  word-break: break-word;
}

.todo-input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  background: transparent;
  animation: fadeIn 2s;
  text-align: center;
  padding-bottom: 0.5em;
  cursor: pointer;
  margin-left: 0;
  font-size: 1em;
}
.todo-input::-moz-placeholder {
  color: aliceblue;
}
.todo-input::placeholder {
  color: aliceblue;
}
.todo-input:-moz-placeholder-shown ~ .user-input {
  font-size: 1.4rem;
  cursor: text;
  top: 20px;
}
.todo-input:placeholder-shown ~ .user-input {
  font-size: 1.4rem;
  cursor: text;
  top: 20px;
}

.checktodo {
  text-decoration: line-through;
}

@media screen and (max-width: 992px) {
  .todo-input {
    width: 100%;
    border: 0;
    font-size: 2.5em;
    color: white;
    background: transparent;
    animation: fadeIn 1s;
    cursor: pointer;
  }
  .todo-input::-moz-placeholder {
    color: aliceblue;
    opacity: 0.5;
  }
  .todo-input::placeholder {
    color: aliceblue;
    opacity: 0.5;
  }
  .clock span {
    font-size: 7rem;
  }
  .greeting-container {
    font-size: 0.6em;
  }
  .focus-output {
    font-family: inherit;
    padding: 0.5em;
    font-size: 1.4em;
  }
  .quote {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  header {
    font-size: 0.6em;
  }
  body {
    padding: 7%;
    top: 0;
    left: 0;
  }
  main {
    font-size: 0.3em;
    gap: 15vh;
  }
  .greeting-container span {
    font-size: 1.3rem;
  }
  .todo-li {
    font-size: 2.5em;
  }
  .clock span {
    font-size: 3.7rem;
  }
  .focus-input {
    width: inherit;
  }
  .focus-output {
    font-size: 2.4em;
  }
  .user-input-container {
    padding: 0.2em;
  }
}/*# sourceMappingURL=style.css.map */